{{ block "traits" . }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head" . }}
    <body>
        {{ template "header" . }}
        <h1> Traits </h1>
        <div class="p-5 border rounded w-1/2 flex flex-row flex-wrap shadow-2xl gap-4 content-around">
        {{ range.Content }}
            <div class="p-5 border rounded">
                    <h2>{{ .Name }}</h2>
                    <p>{{ .Description }}</p>
            </div>
        {{ end }}
        </div>
    </body>
</html>
{{ end }}
